* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
/* Color Theme Swatches in Hex */
$LightBlue1-hex: #90cbfb;
$LightBlue2-hex: #3a1adb;
$LightBlue3-hex: #110066;
$LightYellow1-hex: #ffd432;
$LightGrey1-hex: #ffffff;
$LightGrey2-hex: #919191;

$gradientBackground: linear-gradient(
  190deg,
  $LightBlue2-hex 0%,
  $LightBlue3-hex 100%
);

@font-face {
  font-family: lemon-milk;
  src: url("../font/LEMONMILK-Bold.otf");
}
@font-face {
  font-family: nasalization;
  src: url("../font/nasalization-rg.otf");
}
@font-face {
  font-family: pacifico;
  src: url("../font/Pacifico-Regular.ttf");
}
@font-face {
  font-family: pirulen;
  src: url("../font/pirulen\ rg.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@800&family=Spartan&display=swap");
$Roboto: "Roboto", sans-serif;
$Rubik: "Rubik", sans-serif;
$Spartan: "Spartan", sans-serif;

$Pirulen: pirulen;
$LemonMilk: lemon-milk;
$Nasa: nasalization;
$Pacifico: pacifico;
body {
  font-family: $Roboto;
  .cursor {
    background-color: $LightGrey2-hex;
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid $LightYellow1-hex;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%); //to fix cursor center position
    // note that we are now unable to select links because of the cursor div and the fact that its is constantly moving
    // cursor: grow;
    pointer-events: none;
    transition: all 0.3s ease;
    //   transition-property: background-color, transform, border;
    transition-property: background-color, width, height;
    //   to solve the problem of the cursor not fitting over the link we need to work with transform origin
    transform-origin: 100% 100%;
    //   z-index: -1;//if I wasnt using transparent cursor
  }
  div.link-grow {
    width: 6rem;
    height: 6rem;
    background-color: transparent;
  }
  
  #container {
    width: 100%;
    height: 100vh;
    background-color: $LightBlue2-hex;
    background-image: $gradientBackground;
    nav {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        margin: auto;
        width: 100%;
        // border-bottom: 1px solid $LightBlue1-hex;
        h1#logo {
            color: $LightGrey1-hex;
            font-family: $Pirulen;
            font-size: 2rem;
            margin-left: 1rem;
        }
        ul.nav-links {
            margin-right: 1rem;
            display: flex;
            justify-content: space-between;
            list-style: none;
            li {
                color: $LightGrey1-hex;
                padding: 1rem;
                font-family: $Nasa;
                text-transform: uppercase;
                position: relative;
                top: 0;
                left: 0;
            }
            li::before {
                position: absolute;
                bottom: 0.7rem;
                content: "";
                width: 0;
                height: 0.11rem;
                background-color: $LightGrey1-hex;
                opacity: 0;
                transition: all 500ms ease;
            }
            li:hover::before {
                width: 50px;
                opacity: 1;
            }
        }
    }
  }
  section#landing {
    width: 100%;
    height: 90vh;
    background: white;
    padding: 9em;
    overflow: hidden;
    position: relative;
    h1 {
      font-size: 5em;
      font-family: $Nasa;
      color: $LightBlue2-hex;
      line-height: 1em;
      width: 35%;
    }
    button.cta {
      margin-top: 50px;
      background: none;
      border: 3px solid $LightBlue2-hex;
      font-family: $Nasa;
      font-size: 1.7em;
      padding: .5em 1em;
      cursor: pointer;
      font-weight: 500;
      color: $LightBlue2-hex;
      border-radius: 0.5em;
      transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    button.cta:hover {
      background: $LightBlue2-hex;
      color: $LightGrey1-hex;
      border: 3px solid $LightYellow1-hex;
      cursor: pointer;
    }
    div.panel {
      position: absolute;
      width: 55%;
      bottom: 0;
      right: 0;
      padding: 15% 7%;
      height: 100%;
      background: $LightYellow1-hex;
      transform: scaleY(0);
      transform-origin: bottom;
      svg#light {
        position: relative;
        z-index: 2;
        width: 220px;
        fill: $LightBlue2-hex;
        float: left;
        margin-right: 50px;
        opacity: 0; //bring back when adding tweenMax
        transform: translateY(-200px); //add this after creating TweenMax
      }
     
      p#para {
        position: relative;
        z-index:2;
        clear: right;
        font-size: 1.9em;
        width: 100%;
        color: $LightBlue3-hex;
        font-family: $LemonMilk;
        width: 80%;
        line-height: 1.5em;
        opacity: 0; //bring back when adding TweenMax
      }
      div.box {
        border: 10px solid $LightBlue1-hex;
        width: 65%;
        height: 40%;
        position: absolute;
        left: -7%;
        top: 15%;
        opacity: 0; //bring back when adding TweenMax
        z-index: 1;
        transform: scale(0); //bring back when adding TweenMax
      }
    }
  }
}

section#sticky {
  height: 100vh;
  padding: 3em;
  position: relative;
  blockquote {
    position: absolute;
    width: 30%;
    margin-top: 17%;
    font-size: 2em;
    span {
      width: 100%;
      background: $LightBlue2-hex;
      display: block;
      height: 5px;
      margin-top: 20px;
    }
  }
  img.artshow {
    position: absolute;
  }
  img#artshow1.artshow {
    width: 640px;
    height: auto;
    right: 0;
    top: 20%;
  }
  img#artshow2.artshow {
    width: 480px;
    height: auto;
    right: 40%;
    top: 30%;
    margin-top: 10%;
  }
  .box {
    width: 150px;
    height: 150px;
    position: absolute;
    border: 5px solid $LightGrey2-hex;
    margin: auto;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
  }
}

