@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container {
  width: 100%;
  // height: 100%;
  // background-color: #FF3CAC;
  // background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  .artists {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2em;
    
.artist-section {
   padding: 2em;
   background-color: rgba(0,0,0,0.9);
   border-radius: 1em;
   color: white;
   border: 0.25em solid red;
   h1, h3, h4{
      color: red;
   }
   .bio {
      margin-top: 0.5em;
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-gap: 2em;
      p {
        line-height: 1.25em;
      }
      img { 
         border: 0.5em solid red;
         border-radius: 1em;
      }
    }
}

  }
}
